.card {
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border:1px solid transparent
}

img {
    border-radius: 20px;
}

h2 {
    padding-left: 70px;
}

section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}