<br><br>



<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1>Educational Details</h1>

    <section id="services">
      <div class="container">
          
          <div class="row">
              <div class="col-lg-4 mt-4">
                  <div class="card servicesText">
                      <div class="card-body">
                          <i class="fas fa-book-reader"></i>
                          <h4 class="card-title mt-3">Bachelor of 
                            Engineering(B.E), Information 
                            Science and Engineering</h4>
                          <p class="card-text mt-3">Nitte Mahalinga 
                            Adyanthaya Memorial 
                            Institute of Technology 
                            Nitte
                          </p>
                          <p class="card-text mt-3">2019-2023</p>
                      </div>
                  </div>  
              </div>
              <div class="col-lg-4 mt-4">
                  <div class="card servicesText">
                      <div class="card-body">
                          <i class='fas fa-book-reader'></i>
                          <h4 class="card-title mt-3">XII(Senior 
                            Secondary),        Science</h4>
                          <p class="card-text mt-3">Vani P U College 
                            Belthangady</p>
                          <p class="card-text mt-3">2018-2019</p>
                      </div>
                  </div>  
              </div>
    
              <div class="col-lg-4 mt-4">
                  <div class="card servicesText">
                      <div class="card-body">
                          <i class='fas fa-book-reader'></i>
                          <h4 class="card-title mt-3">X(Secondary)</h4>
                          <p class="card-text mt-3">Vani School 
                            Belthangady
                            </p>
                          <p class="card-text mt-3">2016-2017</p>
                      </div>
                  </div>  
              </div>
          </div>
       
      </div>
    </section>
    
  </div>
</div>



<!-- services section-->



<br><br>

        <h2>Certifications</h2>

        <br><br>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/assets/image7.png" alt="Card image cap" width="200px" height="300px">
      <div class="card-body">
        <h4 class="card-title"><b>Web development Internship at Exposys Data Labs</b></h4>
        <p class="card-text">During August 2021</p>
        
      </div>
    </div>
    
    <div class="card">
      <img class="card-img-top" src="/assets/image3.png" alt="Card image cap" width="200px" height="300px">
      <div class="card-body">
        <h4 class="card-title"><b>Value-added Course NoSQL Data Management using MongoDB and Cassandra
        </b></h4>
        <p class="card-text">During June-July 2021
            </p>
        
      </div>
    </div>
  </div>

  <br><br>