

  <nav class="navbar navbar-expand-lg navbar-primary bg-dark fixed-top" >
    <a class="navbar-brand" href="#"><b>DIGITAL CV</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">About Me <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/education">Education & Certifications</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/skills">Skills & Projects</a>
            </li>

               <li class="nav-item">
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/contact">Contact Me</button>
               </li>
              
               
               
                  
        </ul>
        
    </div>
</nav>
  
