
<br><br><br>

<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">Skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">Technical and Non-technical skills.</div>
                <p>I have included the skills that I am good at. Apart from technical skills, I am also flexible at adapting to changes in the working environment. 
                    I also have good time-management skills, I make good use of the available time to complete the tasks. I also make good prioritization of tasks for effective work handling. 

                </p>
                <a href="#">Read more</a>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>60%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>C Programming</span>
                        <span>80%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Python</span>
                        <span>50%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>PHP</span>
                        <span>50%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MySQL</span>
                        <span>70%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
            </div>
        </div>

        <br><br><hr><br><br>

        <h2>Projects</h2>

        <br><br>
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="/assets/image8.png" alt="Card image cap" width="200px" height="300px">
              <div class="card-body">
                <h4 class="card-title"><b>Fake News Detection using Machine Learning</b></h4>
                <p class="card-text">In this project, we built a classifier that will detect whether the news is fake or not. We
                     performed binary classification of various news with the help of concepts pertaining to Artificial Intelligence, 
                    Natural Language Processing and Machine Learning</p>
                
              </div>
            </div>
            
            <div class="card">
              <img class="card-img-top" src="/assets/image5.png" alt="Card image cap" width="200px" height="300px">
              <div class="card-body">
                <h4 class="card-title"><b>Bank Database Management System</b></h4>
                <p class="card-text">The Bank Account Management System is an application for maintaining a person's account in a bank. 
                    In this project we tried to show the working of a banking account system and cover the basic 
                    functionality of a Bank Account Management System
                    </p>
                
              </div>
            </div>
          </div>
        
        
        
    </div>
</section>


