

<section class="about" id="about">
  <div class="max-width">
      <h2 class="title">About me</h2>
      <div class="about-content">
        <div class="row">
          <div class="column left">
              <img src="/assets/image1.png" alt="">
          </div>
          <div class="column right">
              <div class="text">Hello, I am Vimarsha </div>
              <p>I am from Mangalore. I am an undergraduate student from NMAM Institute of Technology, Nitte.</p>
              <p>Looking forward to work for an organization where I can utilize and improve my skills and knowledge
                while making best possible contribution to the success and growth of the organization. I have a steady source of motivation that always drives me to do my best.</p>
              <a href="/assets/resume.pdf" target="_blank" download>Download CV</a>
          </div>
        </div>
      </div>
  </div>
</section>
